.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  &:hover .img {
    filter: brightness(70%) saturate(0);
    transition: all 0.2s ease-out;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(7, 320px);
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.img {
  outline: 0.5px solid white;
  background: var(--img) center / cover;
  transition: all 0.7s ease-out;
  &:nth-child(3n) {
    grid-row: span 2;
  }
  &:nth-child(4n) {
    grid-column: span 2;
    grid-row: span 3;
  }
  &:hover {
    filter: brightness(100%) saturate(100%) !important;
    box-shadow: inset 0 0 20px #000;
  }
}
