@import "normalize.css";

* {
  margin: 0;
  box-sizing: border-box;
}

//_ Parallax

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  perspective: 1px;
}

#root {
  transform-style: preserve-3d;
}
